{% extends 'base.html' %}

{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/category-items-style.css' %}">

<h2 class="category-title">{{ category.name }} Products</h2>

<div class="products">
    {% for product in products %}
    <div class="product-item">
        <a href="{% url 'product_details' product_id=product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }} Image" class="product-image">
        </a>
        <p class="product-name"> {{ product.name }}</p>
        <p class="product-description"> {{ product.description }}</p>
        <p class="product-price">Price: {{ product.price }} SYP</p>
    </div>
    {% empty %}
    <p>No products available for this category.</p>
    {% endfor %}
</div>

{% endblock %}