{% extends 'base.html' %}
{% block title %}Products{% endblock %}
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/product-list-style.css' %}">

<section class="product-list-container">
    <h2>Product List</h2>
    <ul class="product-list">
        {% for product in products %}
        <li class="product-item">
            {% if product.image %}
            <a href="{% url 'product_details' product_id=product.id %}">
                <img src="{{ product.image.url }}" alt="{{ product.name }} Image" class="product-image">
            </a>
            <div class="product-details">
                <p> <strong>Category:</strong> {{ product.category }}</p>
                <p> <strong>Name:</strong> {{ product.name }}</p>
                <p> <strong>Description:</strong> {{ product.description }}</p>
                <p> <strong>Price:</strong> {{ product.price }} SYP</p>
            </div>
            {% endif %}

            {% if user.is_authenticated %}
            {% if request.user.profile.role == 'admin' %}
            <div class="product-actions">
                <a href="{% url 'product_update' product.pk %}" class="product-update-button">Update</a>
                <form method="post" action="{% url 'product_delete' product.pk %}" class="product-delete-form">
                    {% csrf_token %}
                    <button type="button" class="product-delete-button">Delete</button>
                </form>

            </div>
            {% endif %}
            {% endif %}
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
    {% if request.user.profile.role == 'admin' %}
    <a href="{% url 'product_create' %}" class="product-create-link">Add Product</a>
    {% endif %}
    {% endif %}
</section>

<!-- The Modal -->
<div id="deleteModal" class="product-modal">
    <div class="product-modal-content">
        <p>Are you sure you want to delete this product?</p>
        <div class="product-modal-buttons">
            <button class="product-confirm-btn" id="confirmDelete">Yes, Delete</button>
            <button class="product-cancel-btn" id="cancelDelete">Cancel</button>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', () =>
    {
        const deleteButtons = document.querySelectorAll('.product-delete-button');
        const deleteModal = document.getElementById('deleteModal');
        const confirmDelete = document.getElementById('confirmDelete');
        const cancelDelete = document.getElementById('cancelDelete');
        let formToSubmit;

        deleteButtons.forEach(button =>
        {
            button.addEventListener('click', (event) =>
            {
                event.preventDefault();
                formToSubmit = event.target.closest('form');
                deleteModal.style.display = 'flex';
            });
        });

        confirmDelete.addEventListener('click', () =>
        {
            formToSubmit.submit();
        });

        cancelDelete.addEventListener('click', () =>
        {
            deleteModal.style.display = 'none';
        });
    });
</script>
{% endblock %}